.input-container i {
    position: absolute;
}

.input-container {
    width: 100%;
    margin-bottom: 10px;
}

.icon {
    padding: 13px;
    min-width: 40px;
}

.form-input {
    height: 100%;
    width: 100%;
    padding-left: 45px;
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
    color: #595959;
    background: #dde1e7;
    border-radius: 25px;
    box-shadow: inset 2px 2px 5px #babecc,
        inset -5px -5px 10px #ffffff73;
    grid-column: 1 / 2;

    :focus {
        box-shadow: inset 2px 2px 5px #4e515c,
            inset -1px -1px 2px #ffffff73;
    }
}
