.submit-control {
    height: 50px;
    width: 100%;
    display: flex;
    position: relative;
    margin: 25px 0 25px 0;

    .login-btn {
        width: 100%;
        height: 50px;
        color: #000;
        font-size: 18px;
        font-weight: 600;
        background: #dde1e7;
        border: none;
        outline: none;
        cursor: pointer;
        border-radius: 25px;
        box-shadow: 2px 2px 5px #babecc,
            -5px -5px 10px #ffffff73;
    }

    .login-btn:focus {
        color: #6bd2ee;
        box-shadow: inset 2px 2px 5px #babecc,
            inset -5px -5px 10px #ffffff73;
    }

    .login-btn:hover {
        color: #6bd2ee;
        box-shadow: inset 2px 2px 5px #babecc,
            inset -5px -5px 10px #ffffff73;
    }
}

.social-media {
    .social-btn-container {
        .social-btn {
            margin: 0;
            width: 50%;
            height: 50px;
            color: #000;
            font-size: 18px;
            font-weight: 600;
            background: #dde1e7;
            border: none;
            outline: none;
            cursor: pointer;
            border-radius: 25px;
            box-shadow: 2px 2px 5px #babecc,
                -5px -5px 10px #ffffff73;
        }
    
        .social-btn:focus {
            color: #6bd2ee;
            box-shadow: inset 2px 2px 5px #babecc,
                inset -5px -5px 10px #ffffff73;
        }
    
        .social-btn:hover {
            color: #6bd2ee;
            box-shadow: inset 2px 2px 5px #babecc,
                inset -5px -5px 10px #ffffff73;
        }
    }
}

.or{
    color: black;
    margin: 0 0 25px 0;
    font-size: 18px;
    font-weight: 300;
}